.bot-container{

}
.bot-bg{
    background: url('https://res.cloudinary.com/benjee/image/upload/v1569248286/Group_ssy7oh.png');
    width: 100%;
    min-height: 100%;
}

.bot-content{
    margin: 20% 0;
    text-align: center;
}